   body{    
background:  pink; 
     strong{a
       
       color: blue;
     }
}
h1{
color: purple
   text-aling: center;  
  span{
    border: 1px solid blue;
    padding: 10px;''
  }
}
strong{
  color: blue;
}
